* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   
}




.links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
    list-style: none;
}

.links a {
    color: white;
    text-decoration: none;
}

.links>li:hover{
    cursor: pointer;
}

header{
    width: 100vw;
    height: 100vh;
    background-image: url(/images/Brumadinho\,_Minas_Gerais_\(47021723582\).jpg);
    background-size: cover;
    background-position: center;
    background-color: no-reapet;
}

.header-text{
    text-align: center;
    display: flex;
    justify-content: center;
}